.progress-container {
    position: fixed;
    left: 0;
    right: 0;
    height: 2px;
    /* background: #ccc; */
    z-index: 200;
    margin: 72px 0;
}

.progress-bar {
    height: 2px;
    background: #ccc;
    width: 0%;
  }