@import "tailwindcss";

:root {
    --primary-color: #2C3E50;
    --secondry-color: #f97316;
    --secondry-archieve-color: #2079c7;
}

@layer utilities {
    .text-primary {
        color: var(--primary-color);
        font-size: clamp(40px, 5vw, 58px);
        font-weight: 700;
        line-height: 1.2;
    }
    .text-secondry {
        color: var(--secondry-color);
        font-size: clamp(20px, 2.5vw, 32px);
        font-weight: 700;
        line-height: 1.4;
    }
}