@import "tailwindcss";

:root {
    --primary-color: #2C3E50;
    --secondry-color: #2079c7;
}

@layer utilities {
    .text-primary {
        color: var(--primary-color);
        font-size: 52px;
        font-weight: 700;
        line-height: 1.2;
    }
    .text-secondry {
        color: var(--color-orange-500);
        font-size: 24px;
        font-weight: 700;
    }
}